<section class="dnd5-cheatsheet flexcol">
  <header class="flexrow"></header>

  <div class="flexcol dnd5cs-section">
    <h2>{{ i18n.onYourTurn.title }}</h2>
    <div class="flexrow">
      <ul class="dnd5cs-list">
        <li><span class="dnd5cs-list-square"></span>{{ i18n.onYourTurn.move }}<span>{{ i18n.onYourTurn.and }}</span></li>
        <li>{{ i18n.onYourTurn.interact }}<span>{{ i18n.onYourTurn.and }}</span></li>
        <li>{{ i18n.onYourTurn.communicate }}<span>{{ i18n.onYourTurn.and }}</span></li>
        <li>{{ i18n.onYourTurn.action }}<span>{{ i18n.onYourTurn.and }}</span></li>
        <li>{{ i18n.onYourTurn.bonusAction }}</li>
      </ul>
    </div>
  </div>

  <div class="flexcol dnd5cs-section">
    <h2>On Another's Turn</h2>
    <div class="flexrow">
      <ul>
        <li>
          <div>1 Reaction (recharges on your turn)</div>
          <div>
            Opportunity attack: attack creature moving out of your reach
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="flexcol dnd5cs-section">
    <h2>Actions</h2>
    <div class="flexrow">
      <ul>
        <li>
          <div>Attack (all attacks)</div>
          <div>
            <ul>
              <li>
                <strong>Grappling</strong> (replaces one attack): apply Grappled
                condition
              </li>
              <li>
                <strong>Shoving</strong> (replaces one attack): knock target
                Prone or move it 5 ft away
              </li>
              <li>
                <strong>Two-weapon fighting</strong> (replaces one attack): when
                Attack with light melee weapon may attack with light melee
                weapon in other hand (or throw thrown weapon); no damage bonus.
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div>Cast spell</div>
        </li>
        <li>
          <div>Dash</div>
          <div>Do another Move</div>
        </li>
        <li>
          <div>Disengage</div>
          <div>Deny opportunity attacks as you Move</div>
        </li>
        <li>
          <div>Dodge</div>
          <div>Visible attackers have disadvantage</div>
        </li>
        <li>
          <div>Help</div>
          <div>Give advantage to ally within 5 ft on next attack roll</div>
        </li>
        <li>
          <div>Ready</div>
          <div>Set a triggered Reaction for yourself</div>
        </li>
        <li>
          <div>Search</div>
        </li>
        <li>
          <div>Use an object</div>
          <div>So another Interact with Objet</div>
        </li>
      </ul>
    </div>
  </div>

  <footer class="directory-footer flexrow"></footer>
</section>
