<section class="dnd5-cheatsheet flexcol">
  <header class="flexrow"></header>

  <!-- Movement section -->
  <div class="flexcol dnd5cs-section dnd5cs-section_movements">
    <div class="flexrow dnd5cs-section-title">
      Movement <span>limited by movement speed</span>
    </div>
    <div class="flexcol dnd5cs-section-content">
      <div class="flexrow dnd5cs-section-content-row dnd5cs-section-content-subtitle">
        You can move at any time during your turn (before, after, or during
        actions).
      </div>
      <div class="flexrow dnd5cs-section-content-row">
        {{#each movements as |movement id|}}
        <div class="flexrow dnd5cs-section-item">
          <div class="dnd5cs-section-item-icon">{{movement.icon}}</div>
          <div class="dnd5cs-section-item-content">
            <div class="dnd5cs-section-item-title">{{movement.title}}</div>
            <div class="dnd5cs-section-item-subtitle">
              {{movement.subtitle}}
            </div>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  <footer class="directory-footer flexrow"></footer>
</section>
